@keyframes background {
  100% {
    background-size: 4000px 1000px;
  }
}

/* body {
display: grid;
place-items: center;
margin: 0;
padding: 0 24px;
background-image: url("./Wave.svg");
background-size: 2000px 1000px;
background-position: -500px 0;
color: #f9f9f9;
animation: background 20s infinite alternate linear;  } */
  
  .block {
    height: 38px;
    width: fit-content;
    display: grid;
    grid-template-columns: 400% 20px 400%;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255);
  }
  
  hr {
    margin: auto 5px;
    border: 0.8px solid rgb(150, 150, 150);
  }
  
  .text {
    margin: auto 0;
    font-size: 14px;
    color: rgb(175, 175, 175);
  }
  .img {
    width: 55px;
    height: 55px;
  }